header {
    box-sizing: border-box;
    height: 100%;

    padding: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
}

.menu-title {
    margin: 0px;
    font-size: 1.8rem;
}