<mat-card class="card-about">
  <mat-card-title>
    Sobre EJS
  </mat-card-title>
  <mat-card-content>
    <div>
      <h2 class="content-title">
        O que é?
      </h2>
      <p class="content">
        O “E” é algo variável, pode ser “Embedded”, assim como “Effective”, “Elegant” ou até “Easy”.
        <strong>EJS</strong> é uma linguagem de modelagem simples, que gera código HTML com simples
        marcação de JavaScript.
        Sem muito rigor para organizar as coisas.
        Sem reinventar iteração ou controle de fluxo.
        É simplesmente JavaScript.        
      </p>
    </div>
    <div>
      <h2 class="content-title">
        Como usar?
      </h2>
      <p class="content">
        Nesta aplicação o ejs é renderizado através do template (EJS), passagem dos dados e
        das opções de configuração via <strong>JSON</strong>.
        <br><br>
        Recursos:  
      </p>

        <ul>
          <li>Fluxo de controle com <span class="code"><% %></span></li>
          <li>Exibir saída com <span class="code"><%= %></span></li>
          <li>Pular linha com <span class="code">-%></span> no final da tag</li>
          <li>Espaço em branco para controlar o fluxo com <span class="code"><%_ _%></span></li>
          <li>Delimitadores customizados com (e.g. <span class="code">[? ?]</span> ao invés de <span class="code"><% %></span></li>
          <li>Includes</li>
        </ul>

      <p class="content">
        Para saber mais sobre a estrutura deste template recomendo ler em 
        <a href="https://www.npmjs.com/package/ejs" target="__blank">EJS NPM</a>.    
      </p>
    </div>
  </mat-card-content>
</mat-card>