<mat-card class="card-about">
  <mat-card-title>
    <h1>{{ 'about_ejs' | translate }}</h1>
  </mat-card-title>
  <mat-card-content>
    <div>
      <h2 class="content-title">
        {{ 'what_is' | translate }}
      </h2>
      <p class="content">
        {{ 'what_is_content' | translate }}       
      </p>
    </div>
    <div>
      <h2 class="content-title">
        {{ 'how_to_use' | translate }}     
      </h2>
      <p class="content">
        {{ 'how_to_use_content' | translate }}
        <br><br>
        {{ 'resources' | translate }}:  
      </p>

        <ul>
          <li>{{'control_flow_with' | translate}} <span class="code"><% %></span></li>
          <li>{{ 'show_out_with' | translate }} <span class="code"><%= %></span></li>
          <li>{{ 'jump_line_with' | translate }} <span class="code">-%></span> {{ 'in_final_tag' | translate }}</li>
          <li>{{ 'white_space_control' | translate }} <span class="code"><%_ _%></span></li>
          <li>{{ 'delimiters' | translate }} <span class="code">[? ?]</span> {{ 'instead_of' | translate }} <span class="code"><% %></span>)</li>
          <li>Includes</li>
        </ul>
      <h3>
        {{ 'options' | translate }}
      </h3>

      <ul [innerHTML]="'option_content' | translate"></ul>

      <h3>
        Tags
      </h3>

      <ul [innerHTML]="'tags_content' | translate"></ul>

      <h3>
        Includes
      </h3>

      <p [innerHTML]="'includes_content' | translate"></p>

      <p class="content">
        {{ 'about_more' | translate }}
        <a href="https://www.npmjs.com/package/ejs" target="__blank">EJS NPM</a>.    
      </p>
    </div>
  </mat-card-content>
</mat-card>