/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    background-color: #f5f5f5;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.mat-button-toggle-label-content {
    height: 100%;
    display: flex;
    align-items: center;
}

button.mat-button-toggle-button {
    height: 100%;
}

span.code {
    background-color: #f7f7f7;
    color: #6f6f6f;
    
    padding: 1px 7px;
    border-radius: 5px;
}